:root {
    --title-bg-color : #51514e;
    --title-bg-gradient-2 : linear-gradient(180deg,rgba(237, 221, 83, 1) 0%, rgba(237, 221, 83, 0.33) 90%);
    --title-bg-gradient : linear-gradient(180deg, rgb(83 131 237) 0%, rgb(83 120 237 / 33%) 90%);
    --sidebar-color : #c0bfc5;
    --error-text-color : #d53e3e;
    --panel-bg-color: #fff;
    --side-bar-btn-color : #c0bfc5;
    --side-bar-btn-fg-color : #fff;

    --selected-channel-item-text : #fff;
    --selected-channel-item-bg : #302df4;

    --feed-border-color : #c0bfc5;
 
    /* graphics  */
    --spinner-color : #5c5c5c;
    --loading-widget-container : #fff;
}


img {
    width: 100%;
    height: 100%;
}

p.error {
    color : var(--error-text-color);
}

/* BUTTONS  */

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.sideBar .btn {
    background-color: var(--side-bar-btn-color);
    color: var(--side-bar-btn-fg-color);
    font-size: 1.5rem;
    border-color: var(--side-bar-btn-fg-color);
    border: 1px solid;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.sideBar .btn:hover {
    box-shadow: 0 0 0 2px #9CA3AF;
    transition: box-shadow 0.2s ease;
}

/* LAYOUT  */

.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sideBar {
    width: 15%;
    padding: 10px;
    background-color: var(--sidebar-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.dashBoard {
    display: flex;
    flex-direction: row;
}

.dashBoard .panel {
    width: 50%;
    height: 48vh;
    margin: 0 10px;
}

.content {
    width: 85%;
    padding: 0 10px;
}

.panel {
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--panel-bg-color);
}

.panel.channelFeed {
    display: flex;
    align-items: center;
}

/* side bar layout  */

#sideBarAdmin {
    padding-bottom: 20px;
}


/* TITLE IMAGE  */

#powerSwordLogo {
    height: 60%;
    width: 60%;
}

#title.panel::after {
    position: absolute;
    content: "";
    background: var(--title-bg-gradient);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    mask-image: url("/castle.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url("/castle.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

#title.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    height: 40vh;
    background-color: var(--title-bg-color);
}

#title.panel h1,
#title.panel h2,
#title.panel h3,
#title.panel img {
    z-index: 300;
    position: relative;
    color: #fff;
}

#title.panel .head {
    height: 30%;
}

#title.panel .body {
    height: 40%;
    width: 80%;
    background-image: url("/power_sword_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    padding: 20px;
    z-index: 200;
}

#title.panel .footer {
    height: 20%;
}

/* DISCORD SIGN IN  */
.idp-selection {
    display: flex;
    justify-content: center;
}

.idpTile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 40%;
    padding: 10px;
    cursor: pointer;
}

.idpTile .imageContainer {
    width: 100px;
    height: 40px;
}

.idpTile p {
    font-size: 1.5rem;
    font-weight: bold;
}

/* CHANNELS COMPONENT */

.channelItem {
    cursor: pointer;
    border-radius: 6px;
    padding: 4px;
    border: solid 1px #fff;
    height: 40px;
    display: flex;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
    margin: 4px 0;
}

.channelItem:hover {
    box-shadow: 0 0 0 2px #9CA3AF;
    transition: box-shadow 0.2s ease;
}

.channelItem.selected {
    color : var(--selected-channel-item-text);
    background-color: var(--selected-channel-item-bg);
}

/* FEED  */

.feed {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    border: 1px solid var(--feed-border-color);
    margin: 10px;
    height: 90%;
    overflow-y: scroll;
    padding: 10px;
}

.feed .messageItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* LOADING WIDGET  */
.lds-dual-ring {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid #fff;
  border-color: var(--spinner-color) transparent var(--spinner-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.hidden {
  display: none;
}

/* .loading-area {
  position: relative;
} */

.spin-container {
  position:absolute;
  width: 100%;
}


@keyframes lds-dual-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}